* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
}

textarea, input { 
  outline: none;
  border: none; 
  height: 36px;
  width: 100%;
  border-radius: 6px;
  transition: all 350ms;
  display: block;
  padding-left: 10px;
}

input:focus {
  box-shadow: 0 0 0 3px #37478596;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex_row {
  display: flex;
}

.flex__row--reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex__column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.space_between {
  justify-content: space-between;
  align-items: center;
}

.space_around {
  justify-content: space-around;
}

.space_evenly {
  justify-content: space-evenly;
}

hr {
  border-bottom: none;
}

button {
  border: none;
  background-color: transparent;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.center {
  text-align: center;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.vr {
  display: inline-block;
  align-self: stretch;
  width: 1px;
  min-height: 1em;
  background-color: currentColor;
  opacity: .25;
}

